**/dist
**/build
*.spec
**/__pycache__
/.vscode
**/log
README.md
LICENSE
.gitignore
.dockerignore
.git
.github
Dockerfile
docker-compose.yml
romaji-renamer-venv
venv
.env
config/tmp
config/data
config/ID
config/.env
config/override-ID-animes.tsv
config/override-ID-movies.tsv