**/dist
**/build
*.spec
**/__pycache__
/.vscode
**/log
README.md
LICENSE
.gitignore
.dockerignore
.git
.github
*.psd
Dockerfile
venv
.env
tmp
data
ID
config/.env
config/override-ID-animes.tsv
config/override-ID-movies.tsv